body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #000; 
  color: #fff;
}

.container {
  text-align: center;
}

.item-selection {
  margin: 20px;
}

.item-btn {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #4cafaf;
  color: #fff;
  border: none;
  cursor: pointer;
  margin: 5px;
}

.item-btn:hover {
  background-color: #4cafaf;
}

#selected-item {
  margin-top: 20px;
  font-size: 20px;
}
.image {
  width: 200px; 
  height: 150px; 
  object-fit: cover; 
  border-radius: 5px; 
  margin: 10px; 
}
.selected-image {
  border: 2px solid #4cafaf; 
}